@{
    ViewBag.Title = "About My Website";
}
@*The header section is required in the _Layout*@
@section header {
    <h1>About my website</h1>
}
<p>My website is a fabulous website with all kinds of nifty stuff! Enjoy :)</p>